<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chair Mecca: Chair</title>
</head>
<body>
    <div class="container">
        <img src="{{chair.image}}" class="img-responsive center-block" style="border:1px solid #021a40" alt="Responsive image">
        <h1 class="text-center">{{chair.name}}</h1>
        <p class="text-center">Description: {{chair.description}}</p>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Comment</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in numArray">
                    <td>{{comments[i-1].text}}</td>
                    <td><a ng-click="userSelected($index)">{{users[i-1].username}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container" ng-show="currentUser">
        <form>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="username" placeholder="Enter Comment" ng-model="text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submitComment(text)">Submit</button>
        </form>
    </div>
</body>
</html>