<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chair Mecca: Chair</title>
</head>
<body>
    <div class="container">
        <img src="{{chair.image}}" class="img-responsive center-block" style="border:1px solid #021a40" alt="Responsive image">
        <h1 class="text-center">{{chair.name}}</h1>
        <p class="text-center">Description: {{chair.description}}</p>
    </div>
    
    <div class="container">
        <button data-target="#addToFavoriteConfirmModal" data-toggle="modal" class="btn btn-warning">
            <span class="glyphicon glyphicon-star"></span>
            Favorite This Chair
        </button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Comment</th>
                    <th>User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comment in comments">
                    <td>{{comment.text}}</td>
                    <td><a ng-click="userSelected(comment)">{{comment.username}}</a></td>
                    <td ng-show="currentUser.role == admin">
                        <button ng-click="deleteCommentPressed(comment)" data-target="#deleteConfirmModalComment" data-toggle="modal" class="btn btn-danger pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <form>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="commentEntry" placeholder="Enter Comment" ng-model="text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submitComment(text)">Submit</button>
        </form>
    </div>

    <!-- delete confirm modal comment-->
    <div id="deleteConfirmModalComment" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Press Yes to remove this comment from the database, press No to cancel</p>
                </div>
                <div hidden="hidden" id="deleteIndexComment" index>
                </div>
                <div class="modal-footer">
                    <button ng-click="removeComment()" type="button" class="btn btn-warning" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="removeCommentCancelled()">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- add to favs confirm modal chairs-->
    <div id="addToFavoriteConfirmModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add to favorites?</h4>
                </div>
                <div class="modal-body">
                    <p>Press Yes to add this chair to your favorites, press No to cancel</p>
                </div>
                <div class="modal-footer">
                    <button ng-click="favoriteChair()" type="button" class="btn btn-warning" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>