<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Favorites</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="favorites.css" />
    <script src="favorites.js"></script>



</head>
<body ng-app="favorites" ng-controller="favoritesController">

    <!-- nav bar wil be taken out -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Chair Mecca</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#profile">Profile</a></li>
                    <li class="active"><a href="#profile">Favorites</a></li>
                    <li><a href="#">News Feed</a></li>
                    
                </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- delete confirm modal chairs-->
    <div id="deleteConfirmModalChair" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
            <div class="modal-body">
                <p>Press Yes to remove the chair from your favorites, press No to cancel</p>
            </div>
                <div hidden="hidden" id="deleteIndexChair" index>
                </div>
            <div class="modal-footer" >
                <button ng-click="removeChair()" type="button" class="btn btn-warning" data-dismiss="modal">Yes</button>
                <button ng-click="removeChairCancelled()" type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
       </div>
     </div>

    <!-- delete confirm modal user-->
    <div id="deleteConfirmModalUser" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
            <div class="modal-body">
                <p>Press Yes to remove the user from your favorites, press No to cancel</p>
            </div>
                <div hidden="hidden" id="deleteIndexUser" index>
                </div>
            <div class="modal-footer" >
                <button ng-click="removeUser()" type="button" class="btn btn-warning" data-dismiss="modal">Yes</button>
                <button ng-click="removeUserCancelled()" type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
       </div>
     </div>







    <main>
        <!-- favorite chairs -->
        <div class="page-header container"><h1>Favorite Chairs</h1></div>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Chair</th>
                            <th>Description</th>
                            <th>Picture</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="chair in signedInUser.favoriteChairs">
                            <td>{{chair.name}}</td>
                            <td>{{chair.description}}</td>
                            <td>{{chair.picture}}</td>
                            <td><button ng-click="deleteChairPressed($index)" data-target="#deleteConfirmModalChair" data-toggle="modal" data-chair={{chair}} data-index={{$index}} class="btn btn-danger pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
           </div>

        <!-- favorite users-->
        <div class="page-header container"><h1>Favorite Users</h1></div>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in signedInUser.favoriteUsers">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td><button ng-click="deleteUserPressed($index)" data-target="#deleteConfirmModalUser" data-toggle="modal" data-chair={{chair}} data-index={{$index}} class="btn btn-danger pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
           </div>
    </main>

</body>
</html>
