<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chair Mecca: Profile</title>
</head>
<body>

    <main>

        <!-- edit profile modal -->
        <div id="editProfileModal" class="modal fade clearfix" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalTitle">Edit Profile</h4>
                    </div>
                    <div class="modal-body">
                        <form class="container">
                            <div class="form-group row">
                                <div class="col-sm-2"><label class="field-label">First Name</label></div>
                                <div class="field col-md-4 form-group"><input type="text" class="form-control" id="Text1" placeholder="First Name" ng-model="updatedUser.firstName" /></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"><label class="field-label">Last Name</label></div>
                                <div class="field col-md-4 form-group"><input type="text" class="form-control" id="Text2" placeholder="Last Name" ng-model="updatedUser.lastName" /></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"><label class="field-label">Email</label></div>
                                <div class="field col-md-4 form-group"><input type="email" class="form-control" id="email1" placeholder="Email" ng-model="updatedUser.email" /></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"><label class="field-label">Password</label></div>
                                <div class="field col-md-4 form-group"><input type="password" class="form-control pull-right" id="password1" placeholder="Password" ng-model="updatedUser.password" /></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateUser(updatedUser)">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editUserCancelled()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- delete confirm modal chair-->
        <div id="deleteConfirmModalChair" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Press Yes to remove the chair from your portfolio, press No to cancel</p>
                    </div>
                    <div hidden="hidden" id="deleteIndexChair" index>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="removeChair()" type="button" class="btn btn-warning" data-dismiss="modal">Yes</button>
                        <button ng-click="removeChairCancelled()" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

                    <!-- delete confirm modal chairs Favorite-->
    <div id="deleteFavoriteModalChair" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
            <div class="modal-body">
                <p>Press Yes to remove the chair from your favorites, press No to cancel</p>
            </div>
                <div hidden="hidden" id="Div2" index>
                </div>
            <div class="modal-footer" >
                <button ng-click="removeChairFavorite()" type="button" class="btn btn-warning" data-dismiss="modal">Yes</button>
                <button ng-click="removeChairFavoriteCancelled()" type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
       </div>
     </div>

    <!-- delete confirm modal user-->
    <div id="deleteConfirmModalUser" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
            <div class="modal-body">
                <p>Press Yes to remove the user from your favorites, press No to cancel</p>
            </div>
                <div hidden="hidden" id="deleteIndexUser" index>
                </div>
            <div class="modal-footer" >
                <button ng-click="removeUser()" type="button" class="btn btn-warning" data-dismiss="modal">Yes</button>
                <button ng-click="removeUserCancelled()" type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
       </div>
     </div>


        <!-- profile stuff -->
        <div class="page-header container"><h1>Profile</h1></div>
        <div class="container">
            <div class="container">
                <div class="form-group row">
                    <div class="col-sm-2"><label class="field-label">First Name</label></div>
                    <div class="col-md-10">{{signedInUser.firstName}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"><label class="field-label">Last Name</label></div>
                    <div class="col-md-10">{{signedInUser.lastName}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"><label class="field-label">Email</label></div>
                    <div class="col-md-10">{{signedInUser.email}}</div>
                </div>



                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="field-label"></label>
                    </div>
                    <div class="field col-md-10">
                        <button ng-click="editProfile()" data-target="#editProfileModal" data-toggle="modal" id="editButton" data-profile={{profile}} class="btn btn-primary">
                            <span class="glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- My chairs -->
        <div class="page-header container"><h1>My Chairs</h1></div>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Chair</th>
                        <th>Description</th>
                        <th>Picture</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="chair in signedInUser.chairs">
                        <td><a ng-click="chairSelectedMyChair($index)">{{chair.name}}</a></td>
                        <td>{{chair.description}}</td>
                        <td>{{chair.picture}}</td>
                        <td>
                            <button ng-click="deleteChairPressed($index)" data-target="#deleteConfirmModalChair" data-toggle="modal" data-chair={{chair}} data-index={{$index}} class="btn btn-danger pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!-- ---------------------------------------------------------- -->


        <!-- favorite chairs -->
        <div class="page-header container"><h1>Favorite Chairs</h1></div>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Chair</th>
                            <th>Description</th>
                            <th>Picture</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="chair in signedInUser.favoriteChairs">
                            <td><a ng-click="chairSelectedFavorite($index)">{{chair.name}}</a></td>
                            <td>{{chair.description}}</td>
                            <td>{{chair.picture}}</td>
                            <td><button ng-click="deleteChairFavoritePressed($index)" data-target="#deleteFavoriteModalChair" data-toggle="modal" data-chair={{chair}} data-index={{$index}} class="btn btn-danger pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
           </div>

        <!-- favorite users-->
        <div class="page-header container"><h1>Favorite Users</h1></div>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in signedInUser.favoriteUsers">
                            <td><a ng-click="userSelected($index)">{{user.firstName}}</a></td>
                            <td>{{user.lastName}}</td>
                            <td><button ng-click="deleteUserPressed($index)" data-target="#deleteConfirmModalUser" data-toggle="modal" data-chair={{chair}} data-index={{$index}} class="btn btn-danger pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
           </div>

    </main>
</body>
</html>
